table {
  width: 100%;
  text-align: left;
}

mat-form-field {
  margin: 1em
}

.filter {
  float: left;
}

.title {
  float: right;
  margin-bottom: 0;
  margin-right: 1em;
}

.dashboard {
  margin: 2em;
}
