<div class="dashboard">
  <span class="filter mat-caption">
    <mat-form-field>
      <mat-select [(value)]="daysAgo" (selectionChange)="getPricings()" aria-label="a year">
        <mat-option *ngFor="let startTime of startTimes" [value]="startTime.value">
          {{startTime.label}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field *ngIf='daysAgo===-1'>
      <input matInput [matDatepicker]="picker" placeholder="Choose a start date" [formControl]="startDate" (dateInput)="getPricings()"
        (dateChange)="getPrcings()">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
  </span>

  <span class="mat-headline title">Promotions</span>

  <table mat-table [dataSource]="pricings" class="mat-elevation-z8">
    <ng-container matColumnDef="shop">
      <th mat-header-cell *matHeaderCellDef> shop </th>
      <td mat-cell *matCellDef="let pricing"> {{pricing.shop}} </td>
    </ng-container>
    <ng-container matColumnDef="product">
      <th mat-header-cell *matHeaderCellDef> product name </th>
      <td mat-cell *matCellDef="let pricing"> {{pricing.productName}} </td>
    </ng-container>
    <ng-container matColumnDef="brand">
      <th mat-header-cell *matHeaderCellDef> brand </th>
      <td mat-cell *matCellDef="let pricing"> {{pricing.brand}} </td>
    </ng-container>
    <ng-container matColumnDef="regularPrice">
      <th mat-header-cell *matHeaderCellDef> regular price </th>
      <td mat-cell *matCellDef="let pricing"> {{pricing.regularPrice}} </td>
    </ng-container>
    <ng-container matColumnDef="promoPrice">
      <th mat-header-cell *matHeaderCellDef> promo price </th>
      <td mat-cell *matCellDef="let pricing"> {{pricing.promoPrice}} </td>
    </ng-container>
    <ng-container matColumnDef="discount">
      <th mat-header-cell *matHeaderCellDef> discount </th>
      <td mat-cell *matCellDef="let pricing"> {{pricing.discount}} </td>
    </ng-container>
    <ng-container matColumnDef="downloadDate">
      <th mat-header-cell *matHeaderCellDef> downloaded on </th>
      <td mat-cell *matCellDef="let pricing"> {{pricing.downloadDate}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
    <tr mat-row *matRowDef="let row; columns: columnsToDisplay"></tr>

  </table>
  <mat-paginator (page)="getPricings($event.pageSize, $event.pageIndex)" [length]="resultsLength" [pageSize]="5" [pageSizeOptions]="pageSizeOptions"></mat-paginator>
</div>
